.nav {
    text-align: center;
    font-size: 22px;
}

.logo {
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
    margin-bottom: 3%;
}

.nav-content {
    font-family: 'Lato', sans-serif;
    margin-right: 3%;
    margin-left: 3%;
    width: 100px;
    font-size: larger;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

.nav-content:hover {
    background-color: #dbceff;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-content-active {
    font-size: larger;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #d0bfff;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    background-color: inherit;
    font: inherit;
    font-family: 'Lato', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 3%;
    border: none;
  }
  
  
  .dropdown-content {
    font-family: 'Lato', sans-serif;
    display: none;
    position: absolute;
    background-color: #ebe3ff;
    width: 100%;
    left: 0;
  }
  
  .dropdown-content .header {
    margin-top: 1%;
    background: #c1aaff;
    padding: 16px;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 32.68%;
    padding: 10px;
    background-color: #cdc3ff;
    height: 40vh;
    margin-right:-2vh;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #b5a7ff;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
      margin: 0%;
    }
    .nav-content {
    font-size: large;
    }
    .nav-content-active{
      font-size: large;
    }
    .dropbtn{
      font-size: large;
    }
    .dropdown{
      font-size: large;
    }
  }
  @media screen and (max-width:400px) {
.nav-content{
  font-size: medium;
}
  .nav-content-active{
    font-size: medium;
  }
  .dropbtn{
    font-size: medium;
  }
  .dropdown{
    font-size: small;
  }

}

#warning-message {
  display: none;
  margin: 5px;
  padding: 7px;
}

@media only screen and (orientation:portrait) {

  #wrapper {
    display: none;
  }

  #warning-message {
    display: block;
  }

}

@media only screen and (orientation:landscape) {

  #warning-message {
    display: none;
  }

}
.a1 {
    text-decoration: none;
    font-family: Lato, sans-serif;
    color: black;
}

/* custom scrollbars for all pages fitted into navbar.css because navbar.css is applied everywhere, im sorry we're lazy */
*::-webkit-scrollbar {
  display: block;
  width: 4px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0px 0px 4px #00000040 inset;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00000040;
  border: 0px solid transparent;
  box-shadow: none;
}